<div class="navbar-wagon">
 <!-- Logo -->
 <%= link_to albums_path, class: "navbar-wagon-brand" do %>
   <%= image_tag "logo-bubble.png", height: 50 %>
 <% end %>

 <!-- Right Navigation -->
 <div class="navbar-wagon-right hidden-xs hidden-sm">

   <% if user_signed_in? %>

     <!-- Links when logged in -->
     <%= link_to "Trouver une BD", albums_path, class: "navbar-wagon-item navbar-wagon-link" %>
     <%= link_to "Mon dashboard", current_user_dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %>

     <!-- Avatar with dropdown menu -->
     <div class="navbar-wagon-item">
       <div class="dropdown">
          <%= image_tag "avatar-asterix.jpg", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <table class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <tr>
              <td class="dropdown-menu-icon"> <i class="fas fa-user"></i> </td>
              <td> <%= link_to 'Mon dashboard',current_user_dashboard_path, class: "dropdown-menu-link" %></td>
            </tr>
              <td class="dropdown-menu-icon"> <i class="fas fa-info"></i> </td>
              <td> <%= link_to 'Mes infos',edit_user_registration_path, class: "dropdown-menu-link" %></td>
            <tr>
              <td class="dropdown-menu-icon"> <i class="fas fa-sign-out-alt"></i> </td>
              <td> <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: "dropdown-menu-link" %></td>
            </tr>
         </table>
       </div>
     </div>

   <% else %>
     <!-- Login link (when logged out) -->
     <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
   <% end %>
 </div>
</div>
