<h3 class="fancy" style='text-align: center;'><%= @user.first_name %>, bienvenue sur votre page perso </h3>
<div class='dashboard-container'>

  <div class='dashboard-item' id='user-infos-container'>
    <h5>Mes informations</h5>
    <div id='user-infos-display'>
      <p><%= @user.first_name %> <%= @user.last_name %></p>
      <p><%= @user.address %></p>
    </div>
    <div id='user-infos-edit'>
      <%= link_to edit_user_registration_path do %>
      <i class="fas fa-user-edit">Modifier</i>
      <% end %>
    </div>
  </div>

  <div class='dashboard-item' id='user-message-container'>
    <h5>Ma messagerie</h5>
    <div class='container user-message-display'>
      <% if @user.albums.length != 0 %>
        <% @user.albums.each do |album| %>
          <% if album.requests.length != 0 %>
            <% album.requests.each do |request| %>
              <% if request.status == true %>
                <table>
                  <tr>
                    <td><strong>De </strong></td>
                     <td><%= request.user.first_name %></td>
                  </tr>
                  <tr>
                    <td><strong>Reçu le </strong></td>
                    <td><%= request.created_at %></td>
                  </tr>
                  <tr>
                    <td><strong>Titre</strong></td>
                    <td><%= request.album.comic.title %></td>
                  </tr>
                  <tr>
                    <td><strong>Action</strong></td>
                    <td><i class="fas fa-check-circle" style="color: $green"> <i class="fas fa-times-circle" style="color: $red"></i></i>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <p>Aucun nouveau message</p>
      <% end %>
    </div>
  </div>

  <div class='dashboard-item' id='user-library-container'>
    <h4>Ma bibliothèque</h4>
    <div class='container user-library-display'>
      <% if @user.albums.length != 0 %>
        <% @user.albums.each do |album| %>
          <% if album.available == true %>
            <div class="user-album-card border-available" style="background-image: url(<%= album.comic.artwork %>);">
          <% else %>
            <div class="user-album-card border-unavailable" style="background-image: url(<%= album.comic.artwork %>);">
          <% end %>
            <div class="card-hover">
              <div class="user-album-card-description">
                <h5> <%= album.comic.title %> </h5>
              </div>
            </div>
            <div class= "user-album-card-link">
              <p><%= link_to 'Modifier', edit_album_path(album) %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Vous n'avez encore aucune BD</p>
      <% end %>
    </div>
    <div id='btn-add-album'>
      <%= link_to new_album_path do %>
        <i class="fas fa-plus-circle">Ajouter un album</i>
      <% end %>
    </div>
  </div>

  <div class='dashboard-item' id='user-rentals-container'=>
    <h4>Mes emprunts en cours</h4>
    <div class='container user-rentals-display'>
      <% if @user.rentals.length != 0 %>
        <% @user.rentals.each do |rental| %>
          <div class="user-album-card" style="background-image: url(<%= rental.album.comic.artwork %>);">
            <div class="user-album-card-description">
              <p> <%= rental.album.comic.title %> </p>
              <p> Propriétaire: <%= "#{rental.album.user.first_name} #{rental.album.user.last_name}" %></p>
              <p> Depuis le <%= "#{rental.created_at.day}/#{rental.created_at.month}/#{rental.created_at.year}" %></p>
            </div>
            <div class= "user-album-card-link">
              <p><%= link_to 'Détails', album_path(rental.album) %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Vous n'avez aucun emprunt en cours</p>
      <% end %>
    </div>
  </div>

  <div class='dashboard-item' id='user-pending-container'>
    <h4>Mes demandes en attente</h4>
    <div class='container user-pending-display'>
      <% if @user.requests.length != 0 %>
        <% @user.requests.each do |request| %>
          <% if request.status == true %>
            <div class="user-album-card" style="background-image: url(<%= request.album.comic.artwork %>);">>
              <div class="user-album-card-description">
                <p> <%= request.album.comic.title %> </p>
                <p> Propriétaire: <%= "#{request.album.user.first_name} #{request.album.user.last_name}" %></p>
              </div>
              <div id='cancel-request-btn' class="btn btn-danger">
                <%= link_to 'Annuler', album_request_path(request.album, request), method: 'PATCH', data: { confirm: "Are you sure?" } %>
              </div>
              <div class= "user-album-card-link">
                <p><%= link_to 'Détails', album_path(request.album) %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>Aucune demande en attente</p>
      <% end %>
    </div>
  </div>

</div>
