<%= simple_form_for album do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description,
                required: true,
                autofocus: true,
                label: 'Description' %>
    <%= f.association :comic, :collection => Comic.all.order(:title), label: 'Référence BD' %>

    <%= render 'add-comic' %>

    <%= f.input :available, label: 'Disponible pour un prêt?', as: :boolean, :input_html => { :checked => true }, checked_value: 'true', unchecked_value: 'false' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Créer l'album" %>
  </div>
<% end %>
