<div class="main-container">

  <div class="text-align-center">
    <h3 class="fancy"><%= @albums.where.not(user: current_user).count %> BD près de vous</h3>
    <div class="albums-index-container">
      <% albums_sorted = @albums.sort_by { |album| album.comic.title.downcase } %>
      <% albums_sorted.each do |album| %>
        <% if album.available == true %>
          <% if album.user != current_user %>
                <div class="card-container">
                  <% if album.available == true %>
                    <div class="card index-album-card-body border-available" style="background-image: url(<%= album.comic.artwork %>);">
                      <%= link_to 'Info', album_path(album) %>
                  <% else %>
                    <div class="card index-album-card-body border-unavailable" style="background-image: url(<%= album.comic.artwork %>);">
                      <%= link_to 'Info', album_path(album) %>
                  <% end %>
                    <div class="card-hover">
                      <div class="index-album-card-description">
                        <h5><%= album.comic.title %></h5>
                        <p>Localisation : <%= album.user.address %></p>
                      </div>
                      <div class='index-details-btn'>
                        <button type="button" class="btn-detail-album-index"><span>Détails</span></button>
                      </div>
                    </div>
                  </div>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
