<div class="container albums-index-container ">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-3">

    <div class="cards">

      <h2>Découvrez les BD près de chez vous</h2>

      <% albums_sorted = @albums.sort_by { |album| album.comic.title.downcase } %>
      <% albums_sorted.each do |album| %>
        <% if album.available == true %>
          <% if album.rentals.length == 0 %>
            <li>
              <strong><%= album.comic.title %></strong> <br>
              Localisation : <%= album.user.address %>
              <br>
              <%= link_to 'Détails', album_path(album) %>
              <i class="fas fa-square" style=" color: green;"></i>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#demandeEmpruntModal">Contacter le propriétaire </button>
              <div class="modal fade" id="demandeEmpruntModal" tabindex="-1" role="dialog" aria-labelledby="demandeEmpruntModalLabel" aria-hidden="true">
                <%= render 'modal', album: album %>
              </div>
            </li>
          <%else %>
            <li>
              <strong><%= album.comic.title %> </strong><br>
              Localisation : <%= album.user.address %>
              <br>
              <%= link_to 'Détails', album_path(album) %>
              <i class="fas fa-square" style=" color: red;"></i>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#demandeEmpruntModal">Contacter le propriétaire </button>
              <div class="modal fade" id="demandeEmpruntModal" tabindex="-1" role="dialog" aria-labelledby="demandeEmpruntModalLabel" aria-hidden="true">
                <%= render 'modal', album: album %>
              </div>
            </li>
          <%end%>
        <% end %>
      <% end %>
    </div>
    </ul>
  </div>

  <div id="map" style="width: 100%;
  height: calc(100vh - 70px);"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
