<div class="main-container">
  <div class="text-align-center">
    <h3 class="fancy"><%= @albums.where.not(user: current_user).count %> BD près de vous</h3>
    <div class="albums-index-container">
      <% albums_sorted = @albums.sort_by { |album| album.comic.title.downcase } %>
      <% albums_sorted.each do |album| %>
      <div class="modal fade" id="informationsAlbumsModal" tabindex="-1" role="dialog" aria-labelledby="informationsAlbumsModal" aria-hidden="true">
      <%= render 'show-modal', album: album %></div>
        <% if album.available == true %>
          <% if album.user != current_user %>
            <div class="card-container">
              <% if album.available == true %>
                <div class="card index-album-card-body border-available" style="background-image: url(<%= album.comic.artwork %>);">
              <% else %>
                <div class="card index-album-card-body border-unavailable" style="background-image: url(<%= album.comic.artwork %>);">
              <% end %>
                <div class="card-hover">
                  <div class="index-album-card-description">
                    <h5><%= album.comic.title %></h5>
                    <p>Localisation : <%= album.user.address %></p>
                  </div>
                  <button type="button" class="btn-detail-album-index" data-toggle="modal" data-target="#informationsAlbumsModal"><span>Détails</span></button>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
