<h2><%= @album.comic.title %></h2>
<h3><%= @album.comic.author %></h3>

<p><%= @album.description %></p>
<p><%= @album.user.first_name %> <%= @album.user.last_name %></p>

<% if current_user.id == @album.user.id %>
  <%= link_to 'Modifier', edit_album_path(@album), class: 'btn btn-primary' %>
  <% else %>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#demandeEmpruntModal">Contacter le propriétaire</button>
  <% end %>

<div class="modal fade" id="demandeEmpruntModal" tabindex="-1" role="dialog" aria-labelledby="demandeEmpruntModalLabel" aria-hidden="true">
  <%= render 'modal', album: @album %>

</div>
