<h2><%= @album.comic.title %></h2>
<h3><%= @album.comic.author %></h3>

<p><%= @album.description %></p>
<p><%= @album.available %></p>
<p><%= @album.user.first_name %> <%= @album.user.last_name %></p>

<% if current_user.id == @album.user.id %>
  <%= link_to 'Modifier', edit_album_path(@album), class: 'btn btn-primary' %>
  <% else %>
  <%= link_to 'Emprunter', album_rentals_path(@album) %>
  <% end %>
