<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="AirBD : prêtez, empruntez et échangez des BD !">
    <title>AirBD - Prêt de bandes dessinées</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta property="og:title" content="AirBD - Prêt de bandes dessinées">
    <meta property="og:image" content="logo-bubble.png">
    <meta property="og:description" content="AirBD : prêtez, empruntez et échangez des BD !">
    <meta property="og:site_name" content="AirBD"/>
    <%= stylesheet_pack_tag 'application', media: 'all' %>

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
